/* BOXING PAGE */

.boxing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: flex-end; */
  width: auto;
  min-height: 100vh;
}

.boxing-page img {
  position: relative;
  z-index: -2;
  /*left: -80px;*/
  width: auto;
  max-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.boxing-content blockquote {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  text-align: right;
  margin: 30% 10%;
  right: 22px;
  top: 65%;
  color: white;
  filter: drop-shadow(2px 2px 2px #4E4E4E);
}

.boxing-content blockquote p {
  font-weight: 500;
}

.boxing-content blockquote span {
  font-style: italic;
  font-weight: 300;
  padding-top: 2%;
}

@media only screen and (min-width: 768px) {
  .boxing-content blockquote {
    max-width: 329px;
    font-weight: 500;
    margin: 18% 28%;
  }
  .boxing-content blockquote span {
    font-weight: 300;
  }
}
