// CROWN PAGE 


.crown-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 100vh;

  &_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &_frame {
    position: absolute;
    width: auto;
    height: 65vh;
  }
  
  &_crown {
    max-width: 60%;
  }

  &_bottom {
    position: relative;
    font-family: $textFont;
    font-weight: $bold-weight;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_bottom p {
    font-size: 0.7em;
    color: $textColor;
    max-width: 200px;
  }

}

