/* PHRASE */

.demise-phrase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  text-align: right;
  color: white;

  &_img {
    position: absolute;
    z-index: -1;
    width: auto;
    height: 100%;
  }

  &_blockquote {
    padding: 5%;
    margin-right: 5%
  }

  &_blockquote h3 {
    font-size: 1.6em;
    font-weight: 900;
    color: white;
    position: relative;
  }

  &_blockquote span {
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
  }

}







