/* SAMO PAGE - BOTTOM */


.splash-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;

  &_text {
    font-weight: $black-weight;
    font-size: 1.2em;
    width: 180px; 
    color: white;
    text-align: left;
    // padding-bottom: 85%;
    // padding-left: 20%;
    position: absolute;
    margin: 0 auto;
    z-index: 3;
    right: 0;
    left: 140px;
    top: 210px;
    

    // @include respond(mobileL) {
    //   margin-bottom: 65%;
    //   margin-left: 25%;
    // }

    // @include respond(tabletS) {
    //   font-size: 1.2em;
    //   padding-right: 10%;
    //   padding-top: 15%;
    // }

    // @include respond(laptopS) {
    //   margin-bottom: 29%;
    //   margin-left: 12%;
    // }

    // @include respond(laptopM) {
    //   font-size: 1.3em;
    //   max-width: 300px; 
    //   margin-bottom: 34%;
    // }

  }

  &_red {
    position: relative;
    z-index: -2;
    width: auto;
    height: 100%;
    /* right: -20%; */
  }

}

