:root {
  --red: rgb(213, 55, 31);
  --yellow: rgb(220, 171, 7);
  --spanColor: rgb(132, 132, 132);
  --textColor: rgb(78, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HERO PAGE */

.hero-page {
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 100;
  font-size: 0.8em;
}

.hero-page_solid-white {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

.hero-page_img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.hero-page_subtitle {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.hero-page_hr {
  border-top: 1px solid;
  max-width: 320px;
}

.hero-page_crown-yellow {
  position: absolute;
  z-index: 2;
  transform: translate(262%, 30%) scale(0.98);
}


/* PERSONAL PAGE */

.personal-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  margin-top: 31%;
}

.personal-page_ink {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.personal-page_content {
  z-index: 1;
  max-width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  font-style: bold;
  color: var(--textColor);
}

.personal-page_content span {
  color: var(--spanColor);
}


/* TRIVIA PAGE */

.trivia-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  font-style: bold;
  color: var(--textColor);
  margin-top: 30%;
  padding-top: 10%;
  position: relative;
}
.trivia-page span {
  color: var(--spanColor);
}

.trivia-page_ink {
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: opacity(0.2);
}

.trivia-section_top, 
.trivia-section_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 500px;
}

.trivia-section_bottom {
  text-align: right;
  margin-top: 2%;
}

.trivia-section_bottom p {
  margin-right: 10px;
}

.trivia-section_top p { 
  margin-left: 10px;
}

