:root {
  --red: rgb(213, 55, 31);
  --yellow: rgb(220, 171, 7);
  --spanColor: rgb(132, 132, 132);
  --textColor: rgb(78, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  margin-bottom: 2rem;
  overflow: hidden;
}

/* HERO PAGE */

.hero-page {
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 100;
  font-size: 0.8em;
  width: 100vw;
}

.hero-page_solid-white {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

.hero-page_img {
  width: 99%;
  height: auto;
}

.hero-page_subtitle {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.hero-page_hr {
  border-top: 1px solid;
  max-width: 320px;
}

.hero-page_crown-yellow {
  position: absolute;
  z-index: 2;
  transform: translate(6%, 31%) scale(0.99);
}

@media only screen and (max-width: 600px) {
  .dsk {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .hero-page_crown-yellow {
    transform: translate(18%, 43%) scale(1.2);
  }
}

@media only screen and (min-width: 425px) {
  .hero-page_crown-yellow {
    transform: translate(24%, 58%) scale(1.3);
  }
}

@media only screen and (min-width: 768px) {
  .mbl {
    display: none;
  }
  .hero-page_crown-yellow {
    transform: translate(162%, 10%) scale(0.66);
  }
}

@media only screen and (min-width: 1024px) {
  .hero-page_crown-yellow {
    transform: translate(233%, 31%) scale(0.88);
  }
}

@media only screen and (min-width: 1440px) {
  .hero-page_crown-yellow {
    transform: translate(346%, 65%) scale(1.2);
  }
}


/* PERSONAL PAGE */

.personal-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  /* justify-content: center; */
  min-height: 800px;
}

.personal-page_ink {
  position: absolute;
  z-index: -1;
  width: auto;
  height: 700px;
}

.personal-page_content {
  z-index: 1;
  max-width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  font-style: bold;
  color: var(--textColor);
}

.personal-page_content p {
  padding: 5%;
}

.personal-page_content span {
  color: var(--spanColor);
}

.personal-page_img {
  max-width: 300px;
}



/* TRIVIA PAGE */

.trivia-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
}

.trivia-page_ink {
  position: absolute;
  z-index: -1;
  filter: opacity(0.1);
  width: auto;
  height: 700px;
}

.trivia-content {
  /*max-width: 300px;*/
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  font-style: bold;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  position: relative;
}

.trivia-content span {
  color: var(--spanColor);
}

.trivia-content p {
  padding: 0.8rem;
}

.trivia-content_top {
  display: flex;
  flex-direction: row;
}

.trivia-content_bottom {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.left {
  margin-left: -15%;
}

.right {
  margin-right: -15%;
}

@media only screen and (min-width: 768px) {
  .left {
    margin-left: 15%;
  }
  .right {
    margin-right: 15%;
  }
  .trivia-content {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    font-size: 1em;
  }
  .trivia-content p {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .left {
    margin-left: 20%;
  }
  .right {
    margin-right: 20%;
  }
  .trivia-content {
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 1.1em;
  }
  .trivia-content p {
    padding: 1.5rem;
  }
}



/* CROWN PAGE */


.crown-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
}

.crown-content {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: center;
}

.crown-content_banner {
  position: absolute;
  z-index: -2;
  width: auto;
  height: 400px;
  right: -50%;
  top: 54%;
}

.crown-content_top {
  font-size: 0.9em;
  color: var(--textColor);
  padding: 0.5rem;
}

.crown-content_top p {
  margin: 2% 10% 0 10%;
}

.crown-content_bottom {
  font-size: 1.1em;
  color: white;
}

.crown-content_bottom p {
  margin: 40% 10% 5% 10%;
}

@media only screen and (min-width: 768px) {
  .crown-content_top {
    font-size: 1.5em;
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .crown-content_top p {
    margin: 5% 10% 0 5%;
  }
  .crown-content_crown {
    margin-left: 15%;
  }
  .crown-content_banner {
    position: absolute;
    z-index: -2;
    width: auto;
    height: 400px;
    right: -10%;
    top: 45%;
  }
  .crown-content_bottom p {
    margin-top: 10%;
    padding: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .crown-content_top {
    font-size: 2em;
  }
  .crown-content_banner {
    position: absolute;
    z-index: -2;
    width: auto;
    height: 500px;
    right: -4%;
    top: 40%;
  }
  .crown-content_bottom p {
    margin-top: 10%;
    padding: 10%;
  }
  .crown-content_bottom {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1440px) {
  .crown-content_top {
    font-size: 2.7em;
  }
  .crown-content_crown {
    transform: scale(1.5);
    margin-left: 30%;
  }
  .crown-content_top p {
    margin: 5% 15% 0 8%;
  }
  .crown-content_banner {
    position: absolute;
    z-index: -2;
    width: auto;
    height: 700px;
    right: -4%;
    top: 40%;
  }
  .crown-content_bottom p {
    margin-top: 1%;
    padding: 15%;
  }
  .crown-content_bottom {
    font-size: 2.5em;
  }
}


/* BOXING PAGE */

.boxing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: flex-end; */
  min-height: 500px;
}

.boxing-page img {
  position: relative;
  z-index: -2;
  /*left: -80px;*/
  width: auto;
  max-height: 120vh;
  margin-top: 0;
  margin-bottom: 0;
}

.boxing-content blockquote {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  text-align: right;
  padding: 20%;
  right: 22px;
  top: 65%;
  color: white;
  filter: drop-shadow(2px 2px 2px #4E4E4E);
}

.boxing-content blockquote p {
  font-weight: 500;
}

.boxing-content blockquote span {
  font-style: italic;
  font-weight: 300;
  padding-top: 2%;
}

@media only screen and (min-width: 768px) {
  .boxing-content blockquote {
    max-width: 470px;
    right: 26%;
    font-weight: 500;
  }
  .boxing-content blockquote span {
    font-weight: 300;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .boxing-content blockquote {
    max-width: 480px;
    top: 68%;
    right: 31%;
    padding: 10%;
    font-weight: 700;
  }
  .boxing-content blockquote span {
    font-weight: 300;
  }
}


/* WARHOL PAGE */

.warhol-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warhol-content {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: left;
}

.warhol-content_text {
  padding: 5%;
  margin: 5%;
}

.warhol-content span {
  color: var(--spanColor);
}

.warhol-content_images {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50%;
}

.warhol-content_images img {
  width: auto;
  height: 100%;
  border: 5px solid white;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .warhol-content_images {
    flex-direction: row;
  }
  .warhol-content {
    font-size: 2em;
  }
  .warhol-content_text {
    padding: 0%;
    margin: 3% 17% 3% 17%;
  }
}


/* SAMO PAGE */

.samo-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}

.samo-content {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: left;
}

.samo-content_text {
  padding: 3%;
  margin: 2% 30% 1% 30%;
}

.samo-content span {
  color: var(--spanColor);
}

.samo-content em {
  color: var(--red);
}

.samo-content_gif {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .samo-content_gif {
    flex-direction: column;
    width: auto;
    height: 500px;
    justify-content: normal;
    align-items: flex-start;
    float: left;
  }
  .samo-content_text {
    padding: 5%;
    margin: 1% 10% 1% 40%;
    font-size: 1.5em;
  }
}


/* SAMO PAGE - BOTTOM */


.samo-page_bottom {
  font-weight: 900;
  font-size: 1em;
  width: auto;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.samo-page_bottom p {
  max-width: 230px;
  margin-left: 33%;
  margin-bottom: 80%;
  color: white;
}

.samo-bottom_red {
  position: absolute;
  z-index: -2;
  width: auto;
  height: 100%;
  right: -20%;
}



/* DEMISE PAGE */

.demise-page {
  font-weight: 300;
  font-size: 1.8em;
  font-style: italic;
  text-align: left;
  color: white;
  /* background-color: var(--textColor); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

.demise-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.demise-content p { 
  max-width: 85%;
}

.demise-content span {
  font-size: 0.5em;
  font-weight: 300;
  max-width: 85%;
}

video {
  position: absolute;
  width: auto;
  height: 100vh;
  z-index: -3;
  filter: opacity(0.5);
  transform: scale(1.65);
}



/* DEMISE PHRASE */

.demise-phrase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 500px;
  text-align: right;
  color: white;
}

.demise-phrase_img {
  position: absolute;
  z-index: -1;
  width: auto;
  height: 426px;
  right: -55%;
}

.demise-phrase h3 {
  font-size: 1.6em;
  font-weight: 900;
  color: white;
  position: relative;
}

.demise-phrase span {
  font-size: 1em;
  font-weight: 500;
  font-style: italic;
}

.demise-phrase blockquote {
  padding: 5%;
  margin-right: 5%
}



/* FOOTER */

.footer {
  font-weight: 100;
  font-style: italic;
  text-align: center;
  font-size: 0.5rem;
  margin-bottom: 5px;
}



